@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.searchBar {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: $gray-500;
  pointer-events: none;
}

.input {
  width: 100%;
  height: 44px;
  padding-left: 2.5rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  color: $gray-900;
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 0.75rem;
  @include transition(border-color, box-shadow);
  
  &:focus {
    outline: none;
    border-color: $gray-600;
    box-shadow: 0 0 0 3px rgba($gray-600, 0.1);
  }
  
  &::placeholder { color: $gray-500; }
}

