// Colors
$gray-50: #fafafa;
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;

$white: #ffffff;
$black: #000000;
$success: #10b981;
$error: #ef4444;

// Font
$font-family: 'Inter', 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
