@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.description {
  @include line-clamp(3);
  font-size: 0.875rem;
  color: $gray-600;
  line-height: 1.5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.priceSection {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: 700;
  color: $gray-900;
}




