@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  @include transition(background-color, color, border-color, transform);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  // Variants
  &.primary {
    background-color: $gray-900;
    color: $white;
    
    &:hover:not(:disabled) {
      background-color: $gray-700;
    }
  }

  &.secondary {
    background-color: $gray-700;
    color: $white;
    
    &:hover:not(:disabled) {
      background-color: $gray-600;
    }
  }

  &.outline {
    background-color: transparent;
    border: 1px solid $gray-300;
    color: $gray-700;
    
    &:hover:not(:disabled) {
      background-color: $gray-50;
      border-color: $gray-500;
    }
  }

  &.ghost {
    background-color: transparent;
    color: $gray-700;
    
    &:hover:not(:disabled) {
      background-color: $gray-100;
    }
  }

  // Sizes
  &.sm {
    height: 2rem;
    padding: 0 0.75rem;
    font-size: 0.875rem;
  }

  &.md {
    height: 2.5rem;
    padding: 0 1rem;
    font-size: 1rem;
  }

  &.lg {
    height: 3rem;
    padding: 0 1.5rem;
    font-size: 1.125rem;
  }

  &.fullWidth {
    width: 100%;
  }
}
