@use '@/styles/abstracts/variables' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 500;

  svg {
    flex-shrink: 0;
    width: 14px;
    height: 14px;
  }
}

.dark {
  background-color: rgba($gray-900, 0.7);
  color: $white;
}

.light {
  background-color: $gray-100;
  color: $gray-700;
}

